.addUser {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: greenyellow;
	line-height: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 1rem 0 1rem 0;
	span {
		margin: -0.25rem 0 0 0;
	}
}